@font-face {
  font-family: "Psychedelia";
  src: url('~/assets/fonts/pure-psychedelia-font/psychedelia.ttf');
}
@font-face {
  font-family: "Poppins";
  src: url('~/assets/fonts/poppins/Poppins-Regular.ttf');
}
.v-btn {
  text-transform: capitalize;
}
.para-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justified;
}
.gradient-text1 {
  background: linear-gradient(264.75deg, #fe87ff 3.04%, #1905da 99.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.gradient-text2 {
  background: linear-gradient(90deg, #737206 3.04%, #555602 99.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.primary-text {
  color: #1905da;
}
.dark-bg{
background-color: #000229;
}
.menu-btn {
  background: linear-gradient(
    90deg,
    #737206 3.26%,
    #555602 97.81%
  ) !important;
}
.v-application .caption,.v-application .text-h6,
.v-application .text-h5,.v-card,.v-list,
.v-btn__content,.v-data-table,p,h5,small,.title,label,.body-2{
    font-family: 'Poppins', sans-serif !important;
}
/* .text-h4,p{
  color:  #827c13;
} */
/* .v-application .text-h4,p{
  font-family: 'Psychedelia', sans-serif !important;

} */
